<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <div class="data">
            <i class="fi-rr-clip"></i>
            <p class="weather-data" id="weather-data">Your weather data will be here...</p>
        </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>