<div class="container-navbar">
    <div class="logo">
        <img src="/img/icons/sunny.png">
        <h1>SKYCHANNEL</h1>
    </div>
    <div class="navbar" id='navbar'>
        <div class="link-template">
            <i class="fi-rr-apps"></i> <a href='/'>Dashboard</a>
        </div>
        <div class="link-template">
            <i class="fi-rr-stats"></i> <a href='/statistic'>Statistic</a>
        </div>
        <div class="link-template">
            <i class="fi-rr-marker"></i> <a href='/map'>Map</a>
        </div>
        <div class="link-template">
            <i class="fi-rr-calendar"></i> <a href='/calendar'>Calendar</a>
        </div>
        <div class="link-template">
            <i class="fi-rr-settings-sliders"></i> <a href='/settings'>Settings</a>
        </div>
    </div>
    <div class="weather">
        <div class="weather-data">
            <img src="/img/icons/cloudy.png">
            <div class="weather-city-data">
                <h1>Today</h1>
                <p class="weather-time" id="weather-time"></p>
                <p class="weather-date" id="weather-date"></p>
            </div>
        </div>
        <h1 class="weather-degrees" id="weather-degrees"></h1>
        <h2 class="weather-city" id="weather-city"></h2>
        <h3 class="weather-country" id="weather-country"></h3>
    </div>
</div>